[submodule "config/cheat/cheatsheets/community"]
	path = config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git
	branch = master
[submodule "config/cheat/cheatsheets/personal"]
	path = config/cheat/cheatsheets/personal
	url = https://github.com/annie444/cheatsheets.git
	branch = main
[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/annie444/nvim-dots.git
	branch = main
[submodule "config/tmux/tpm"]
	path = config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
	branch = master
